DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_name
DB_HOST=db_host
DB_PORT=db_port

JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
xxx
-----END PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
xxx
-----END PUBLIC KEY-----"